.movies__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #202020;
}

.movies__list{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width:1280px;
    width: 90%;
}

.movies__more-button_display{
    display:none
}

.movies__nothing-found{
    font-family: Inter;
    font-weight: 500;
    color: white;
    margin: auto;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}
.movies__nothing-found_display{
    display:none;
}

.movies__more-button{
    font-family: Inter;
    font-weight: 500;
    height: 36px;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: white;
    font-style: normal;
    text-align: center;
    cursor:pointer;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-bottom: 80px;
    width: 100%;
    max-width:320px;
    margin:auto;
    background-color: #2F2F2F;
}
