.movie{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:270px;
    margin: auto;
    margin-bottom: 38px;
}

.movie__container{
    display: flex;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    background: #FDFDFD;
    max-height:68px;
}

.movie__image{
    max-width: 270px;
    max-height: 151px;
}

.movie__like-button_and_caption{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    width:100vw;
    max-width: 270px;
    justify-content: space-between;
}

.movie__like-button{
    outline: none;
    border: none;
    background-color: white;
}

.movie__like-button__image:hover{
    cursor:pointer;
    animation: likeBreathe 2s ease infinite;
}

.movie__time-caption{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
    margin-left:14px;
    margin-top:9px;
}
.movie__like-caption{
    margin:0;
    margin-top:14px;
    margin-left:14px;
}

@keyframes likeBreathe{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}