.movie{
    display:flex;
    flex-direction: column;
    width:100%;
    max-width:270px;
    margin: auto;
    margin-bottom: 38px;
}

.movie__image{
    max-width: 270px;
    max-height: 151px;
}

.movie__like-button_and_caption{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    width:100vw;
    max-width: 270px;
    justify-content: space-between;
    margin-bottom: 29px;
}

.movie__like-button{
    outline: none;
    border: none;
    background-color: white;
}

.movie__like-button__image:hover{
    cursor:pointer;
    animation: likeBreathe 2s ease infinite;
}

.movies-card__container-line{
 width:100%;
 max-width:270px;
 border-top: 1px solid #E8E8E8;
}

.movie__time-caption{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;

}

@keyframes likeBreathe{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}