.protected-header{
    display:flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    background: #202020;
    color: white;
}
.protected-header__image{
    margin-top: 29px;
    margin-left: 5vw;
}

.protected-header__navigation{
    display: flex;
    align-items: center;
}

.protected-header__link{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    border: none;
    background-color: inherit;
    padding:0;
    margin-left: 20px;
    color: white;
}

.protected-header__link_saved-films{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.protected-header__link_account{
    margin-left: 5px;
    margin-right: 8px;
}

.protected-header__account-icon{
    margin:auto;
    margin-left: 8px;
}

.protected-header__profile-link{
    border: 2px solid grey;
    border-radius: 48px;
    margin-left: 50px;
    margin-right: 5vw;
    opacity: 1;
    transition: opacity 1s ease;
}

.protected-header__link_films:hover{
    cursor: pointer;
    animation: rotation 2s infinite;
}

.protected-header__link:hover{
 cursor: pointer;
}

.protected-header__profile-link:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 1s ease;
}

.protected-header__menu-logo{
    display: none;
}


@media screen and (max-width:535px){
    .protected-header__link{
        display: none;
    }

    .protected-header__account-icon{
        display: none;
    }
    
    .protected-header__menu-logo{
        display: block;
    }
    
    .protected-header__navigation{
        margin-right: 5vw;
    }
}
