.protected-header{
    display:flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}
.protected-header__image{
    margin-top: 29px;
    margin-left: 5%;
}

.protected-header__navigation{
    display: flex;
    align-items: center;
}

.protected-header__link{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    border: none;
    background-color: inherit;
    padding:0;
    margin-left: 20px;
}

.protected-header__link_saved-films{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.protected-header__link_account{
    margin-left: 50px;
}

.protected-header__account-icon{
    margin-left:17px;
    margin-top: 13px;
    margin-right: 70px;
}

.protected-header__link:hover{
    cursor: pointer;
    animation: rotation 2s ease infinite;
}

.protected-header__account-icon:hover{
    cursor: pointer;
    animation: scaleAccount 2s ease infinite;
}

.protected-header__menu-logo{
    display: none;
}


@media screen and (max-width:535px){
    .protected-header__link{
        display: none;
    }

    .protected-header__account-icon{
        display: none;
    }
    
    .protected-header__menu-logo{
        display: block;
    }
    
    .protected-header__navigation{
        margin-right: 5vw;
    }
}
