.portfolio{
    display:flex;
    flex-direction: column;
    background: #202020;
    padding-bottom: 125px;
}

.portfolio__header{
    margin-bottom:50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;  
    color: #A0A0A0;
}

.portfolio__container{
    display: flex;
    margin:auto;
    flex-direction: column;
    width: 90%;
    max-width: 1140px;
}

.portfolio__container-line{
    height:1px;
    border-top: 1px solid #E6E6E6;
    margin-bottom: 20px;
    max-width: 1204px;
}

.portfolio__container__link_text{
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
}
.portfolio__container__links{
    display: flex;
    flex-direction: column;
    max-width: 1204px;
}

.portfolio__container__link{
    max-width: 1204px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.portfolio__container__link:hover{
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

@media screen and (max-width:500px) {
    .portfolio__container__link_text{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.04em;
    }
}