    .promo{
        background: #F5F5F5;
        height: 524px;
        display: flex;
        background-image: url("../../images/promo.svg");
        background-repeat: no-repeat;
        background-position: center;
        width:94%;
        margin:auto;
        border-radius:10px;
        flex-direction: column;
    }

    .promo__text{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 58px;
        color: black;
        margin:auto;
        max-width: 730px;
        text-align: center;
    }