    .promo{
        background-color: #073042;
        height: 524px;
        display: flex;
        background-image: url("../../images/promo.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .promo__text{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 58px;
        color: white;
        margin:auto;
        max-width: 730px;
        text-align: center;
    }