.header{
    background-color:#073042;
    display: flex;
    flex-direction: row;
    height: 74px;
}

.header__content-container{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-between;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.header__image{
    width: 38px;
    height:38px;
}

.header__button{
    height:32px;
    width: 77px;
    border: none; 
    border-radius: 10%;
    outline: none;
    background-color: inherit;
}

.header__button_register{
    color: white;
    margin-right:30px;
    opacity: 1;
    transition: opacity 0.5s;
}

.header__button_auth{
    background: #2BE080;
    opacity: 1;
    transition: opacity 0.5s;
}

.header__button-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin:0
}
.header__button:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
}