.register{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    background: #202020;
    color: white;
}

.register__header{
    width: 90%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.register__header__logo{
    width: 38px;
    height: 38px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.register__header__welcome{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
    text-align: start;
}

.register__header__logo-and-welcome-container{
    display: flex;
    flex-direction: column;
    margin:auto;
    width:396px;
}

.register__form{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
}

.register__input-container{
    display: flex;
    flex-direction: column;
}

.register__input{
    max-width: 396px;
    height: 46px;
    border: none;
    border-bottom: 1px solid #424242;
    outline: none;
    background-color: inherit;
    text-indent: 22px;
    margin-bottom: 10px;
    color:white;
}

.register__input__label{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-bottom: 10px;
    text-align: start;
}

.register__input-error{
    display: none;
    
}

.register__input-error_open{
    display: flex;
    flex-wrap: wrap;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    margin-bottom: 20px;
    max-width:300px;
}

.register__button{
    width: 100vw;
    margin:auto;
    margin-top: 69px;
    max-width: 396px;
    height: 46px;
    border: none;
    border-radius: 3px;
    background-color: #4285F4;
    margin-top: 179px;
}

.register__button_disabled{
    width: 100vw;
    margin:auto;
    margin-top: 69px;
    max-width: 396px;
    height: 46px;
    border: 2px solid grey;
    border-radius: 3px;
    background-color: inherit;
    margin-top: 179px;
    color: grey;
}

.register__button-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.register__underbutton-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
}

.register__underbutton-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    border:none;
    background: none;
    color: #4285F4;
}

.register__underbutton{
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.register__underbutton-link-container{
    display:flex;
    text-decoration: none;
}

.register__underbutton-link:hover{
    cursor: pointer;
    animation: rotation 2s infinite ease;
}

.register__button:hover{
    cursor: pointer;
    animation: scale 2s infinite ease;
}

.register__input::placeholder{
    text-indent: 22px;
}

@media screen and (max-width: 400px) {
    .register__button{
        max-width: 260px;
    }
}

@media screen and (max-width: 430px){
    .register__header__logo-and-welcome-container{
        width:90%;
        justify-content: center;
        align-items: center;
    }
}

.register__button_disabled:hover{ 
    animation: none
}