.footer{
    background: #202020;
    display:flex;
    color: white;
}
.footer__container{
    width:90%;
    margin:auto;
    padding-top: 79px;
    display: flex;
    flex-direction: column;
    background: #202020;
}

.footer__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    margin-top: 20px;
}

.footer__container-line{
    height:1px;
    border-top: 1px solid #E6E6E6;
    margin-bottom: 20px;
}

.footer__container__caption-and-links{
    display:flex;
    justify-content: space-between;
}
.footer__container__caption{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    margin-bottom:20px;
}

.footer__container__link{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color:white;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;
    margin-left: 20px;
}

@media screen and (max-width:500px) {
    .footer__container__caption-and-links{
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer__container__links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer__container__link{
        margin-bottom: 12px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        margin-left: 0;
    }

    .footer__container__caption{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #8B8B8B;
        margin-top: 20px;
    }
    .footer__container-line{
        margin-bottom: 30px;
    }
}