.navtab{
    height: 66px;
    display: flex;
    background: #272727;
}

.navtab__link-container{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.navtab__link-container_link{
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: underline;
    margin:auto;
    margin-right:40px;
}

.navtab__link-container_block{
    height: 36px;
    width: 4vw;
    border:none;
    border-radius:10px;
    opacity:1;
    transition: opacity 0.5s ;
    display: flex;
    margin-right:40px;
}

.navtab__link-container_block:hover{
    cursor: pointer;
    opacity:0.5;
    transition: opacity 0.5s;
}

.navtab__link-container_link:nth-child(3n){
    margin-right:0px;
}

@media screen and (max-width: 400px) {
    .navtab__link-container_link{
        margin-right:24px;
    }
}