.navtab{
    background-color: black;
    height: 66px;
    display: flex;
}

.navtab__link-container{
    margin: auto;
}

.navtab__link-container_link{
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-right:40px;
    letter-spacing: 1px;
    opacity:1;
    transition: opacity 0.5s ;
}
.navtab__link-container_link:hover{
    cursor: pointer;
    opacity:0.5;
    transition: opacity 0.5s;
    animation: stretching 1.5s infinite;
}
@keyframes stretching{
    0%{ letter-spacing: 1px;}
    50%{letter-spacing: 3px;}
    0%{ letter-spacing: 1px;}
}